@import url("./index.css");

.main-container {
  position: relative;
  background-image: url("../public/images/pattern-hills.svg"),
    url("../public/images/bg-stars.svg");
  background-size: auto;
  background-position: bottom, center;
  background-repeat: no-repeat;
  height: 100vh;
}
.time-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-title {
  color: var(--White);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
  text-transform: uppercase;
}
.social-media-container {
  position: absolute;
  inset: auto 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.social-media-container a:hover {
  opacity: 0.5;
}

.attribution {
  position: absolute;
  inset: auto 0 0 0;
  font-size: 11px;
  text-align: center;
  color: var(--White);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 375px) {
}
